doctype html
html(lang='en')
  include includes/head.pug
  body
    // Login Page
    .flex
      header.logo
        img(src='/assets/img/logo.png', alt='TAV GUTTERS')
      section.login
        .login-btn
          i.fa.fa-google.fa-4x(aria-hidden='true')
          |  LOGIN WITH GOOGLE
        h2.home-location
          i.fa.fa-map-marker(aria-hidden='true')
          |   31 John St. Little Ferry, NJ 07643
      // Login Page
      section.app
    script(src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js" type="text/javascript")
    script(src="/assets/js/firebase.js")
