doctype html
html(lang="en")
	include includes/head.pug
	body
		header
			.d-flex.flex-row.justify-content-between
				.logo-side
					img(src="img/logo.png", style="max-width:100%")
				.calendar
					.d-flex.flex-column
						i.fa.fa-calendar.text-center(aria-hidden="true")
						h3.date 11/09/2017
				.user
					.d-flex.flex-column
						i.fa.fa-user-circle.text-center(aria-hidden="true")
						p.username.text-center Fulanito
		main
		footer
			.d-flex.flex-row.justify-content-around
				.tasks
					i.fa.fa-tasks.text-center(aria-hidden="true")
				.notifications
					i.fa.fa-bell.text-center(aria-hidden="true")
				.map
					i.fa.fa-compass.text-center(aria-hidden="true")
				.clients
					i.fa.fa-users.text-center(aria-hidden="true")