body{
    font-family: 'Roboto', sans-serif;
    color:#0054a6;
    height: 100vh;
    width: 100vw;
}

 .logo-side{
    width: 20vw;
    margin-left: 5vw;
} 
.calendar{
    margin-top:4vw;
    margin-left:-3vw;
    font-size:7vw;
    font-weight: 700;
}
.calendar h3{
    font-size:3.5vw;
}

.user{
    margin-right: 6vw;
    margin-top:3.5vw;
}
.user i{
    font-size: 8vw;
}
.user p{
    font-size: 3.5vw;
}

